/*Intending items on the left side, pushing it right*/
.tab10 { margin-left: 10px; }
.tab20 { margin-left: 20px; }
.tab30 { margin-left: 30px; }
.tab40 { margin-left: 40px; }
.tab50 { margin-left: 50px; }
.tab60 { margin-left: 60px; }
.tab70 { margin-left: 70px; }
.tab80 { margin-left: 80px; }
.tab90 { margin-left: 90px; }
.tab100 { margin-left: 100px; }
.tab10perl { margin-left: 10%; }
.tab20perl { margin-left: 20%; }
.tab30perl { margin-left: 30%; }
.tab40perl { margin-left: 40%; }
.tab50perl { margin-left: 50%; }


/*This is supposed to make image borders round and nice*/
img {
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-style: ridge;
    border-radius: 1rem;
    border-color: burlywood;
}
/*To make forms pwetty!!!*/
form   {
    margin: auto;
}

fieldset legend {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

fieldset input {
    margin-bottom: 0.5rem;
}